:root {

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    height: 100px;
    width: 100%;
    /* Sets border to bottom only */
    border-bottom: 10px solid rgb(81, 0, 92);
    background-color: #c90c2cdc;
}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
}
