body {
  background-color: #dd5f5f91; 
  margin: 0; 
  font-family: Arial, sans-serif; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    height: 100px;
    width: 100%;
    border-bottom: 10px solid rgb(81, 0, 92);
    background-color: #333; 
    
}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
    color: aqua;
    
}

aside {
    flex: 1; 
    background-color: #000000; 
    padding: 20px;
    float: left; 
    margin-right: 20px; 
}

.about-me h3 p {
    /* text-wrap: center; */
    text-wrap: wrap;


}

  /* Style for smaller screens */
  @media (max-width: 599px) {
    main {
      display: flex;
      flex-direction: column;
    }
    aside {
      order: 1;
    }
    section {
      order: 2;
      width: 100%;
    }
  }